@charset "UTF-8";

.faq{
	margin:0 auto;
	width:700px;	
	
}

.mvList{
	margin:0 auto;
	width:700px;
}

#listNo{
	width:20%;
	padding-left:20px;
}

#listTitle{
	width:60%;
}

#listRegdate{
	width:20%;	
}

a:link { 
 	color: white; 
 	text-decoration: none;
}

a:visited { 
 	color: white; 
 	text-decoration: none;
}

a:hover { 
 	color: white; 
 	text-decoration: none;
}

