@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
/* top */
* {
   font-family: 'Noto Sans KR', sans-serif;
}
.faq{
	margin:0 auto;
	width:700px;	
	
}

.mvList{
	margin:0 auto;
	width:700px;
}

#listNo{
	width:20%;
	padding-left:20px;
}

#listTitle{
	width:60%;
}

#listRegdate{
	width:20%;	
}

a:link { 
 	color: white; 
 	text-decoration: none;
}

a:visited { 
 	color: white; 
 	text-decoration: none;
}

a:hover { 
 	color: white; 
 	text-decoration: none;
}

