@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
font-family: 'Noto Sans KR', sans-serif;

}

#search{
	font-size: 0.8em;
	background: #F5F5F7;
	border:0;
	padding-left:20px;
	padding-right: 20px;
}

#logo{
	padding-left: 70px;
}

.input-group-text{
	background: #F5F5F7;
	border: 0;
}

#top{
	background: white;
	
}

#top .nav-item{
	padding-left: 15px;
}

#top ul{
	position: absolute;
	right: 0;
	padding-right: 70px;
	clear:both;
}

hr{
	margin-top: 75px;
}

#footer{
	font: normal 11px 'Nanum Gothic';
	background: #1C1D1F;
}

#footer a, #footer p{
	color: #a5a5a7;
    font-size: 13px;
    font-weight: 400;;
    text-decoration: none;
}

#footer div{
	padding: 30px 100px;
}

#contents{
	margin-top: 130px;
}
